In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('student.db')
conn

In [3]:
sql = """
 CREATE TABLE student
 (
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor() # Connetion 객체를 이용하여 cursor를 만든다.
c.execute("DROP TABLE IF EXISTS student") # student가 있으면 삭제해라.
c.execute(sql) # 테이블 생성.
c.close()

In [4]:
sql = """
     INSERT INTO student VALUES
        ('학생1', 1, "서울 강남구 일원동", 'male')
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [5]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

In [15]:
### 실습 1 table을 하나 만든다.
        * 테이블명 : student1
        * 컬럼 name(text), korea(정수), math, english
        * 데이터를 하나넣고
        * 불러오기

IndentationError: unexpected indent (<ipython-input-15-c2a7ba86d412>, line 2)

In [20]:
conn = sqlite3.connect('student1.db')
conn

In [21]:
sql = """
 CREATE TABLE student1
 (
 name text,
 korea integer,
 math integer,
 english integer
 )
"""

c = conn.cursor() # Connetion 객체를 이용하여 cursor를 만든다.
c.execute("DROP TABLE IF EXISTS student1") # student가 있으면 삭제해라.
c.execute(sql) # 테이블 생성.
c.close()

In [22]:
sql = """
     INSERT INTO student1 VALUES
        ('최종운', 100, 90, 80)
"""
c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [23]:
sql = 'select * from student1'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('최종운', 100, 90, 80)

In [24]:
## history 2020/10/05